/*Defolt-CSS*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
/*=======
   home
=========*/

.homeMain {
    background-image: url(../images/banner/flat-lay-abstract-composition-with-innovation-elements.jpg);
    background-position: center;
    background-size: cover;
    background-color: #8d8d8d0f;
    height: 100vh;
    background-blend-mode: multiply;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10rem;
}
.home {
    width: 41%;
    text-align: right;
}
.home h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.566666rem;
    margin-bottom: .666rem;
}
.home p {
    font-size: .999999999rem;
    line-height: 1.7rem;
}
.home button {
    padding: .5rem .8rem;
    font-size: 1rem;
    background: #ffffff;
    font-family: monospace;
    color: #ff7019;
    border: .01rem solid #ff7019;
    border-radius: .8rem;
    margin-top: 1.3rem;
    box-shadow: 2px 2.3px 6px 0px #ff8e1d;
}

/*=======
   Info
=========*/

section.infoMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:5rem 4rem;
}
.info {
    width: 45%;
}
.infoMain img {
    height: 26rem;
}
.info h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.info p {
    font-size: .8888rem;
    margin-bottom: .5rem;
    line-height: 1.5999rem;
    color: #717171;
}
.info li {
    line-height: 2rem;
}
.info li i {
    color: #ff7019;
    font-size: 1.2rem;
    margin-right: .2rem;
}
/*=======
   Plans
=========*/
.planMain {
    text-align: center;
    margin: 6rem 0rem 10rem;
}
.plan {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.4rem;
    text-align: center;
}
.planMain h1 {
    font-size: 2.7777rem;
    font-family: sans-serif;
}
.plan img {
    height: 4.3333rem;
}
.plan h4 {
    font-size: 1.5rem;
    line-height: 3rem;
}
.plan p {
    color: #8e8e8e;
}
/* feedback */

.feedbackMain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.feedbackInfo {
    width: 25%;
    margin-right: 1rem;
}
.feedback {
    width: 20%;
    padding: 1rem 1.4rem;
    border-radius: 2rem;
    border: 0.1rem solid #d1d1d1;
    box-shadow: -2px -2px 3px #0000005e;
    transition: all .5s;
    background: #ececec17;
    margin: 0rem .8rem;
}
.feedback:hover {
    box-shadow: -2px -3px 4px #ff8800db;
}
.feedbackInfo h3{
        text-decoration: underline;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
.feedbackInfo h1 {
    font-size: 2.6rem;
    font-family: system-ui;
    line-height: 3rem;
}
.feedbackInfo button {
    font-size: .9222rem;
    font-family: inherit;
    padding: .5rem .6rem;
    margin-top: 1.533rem;
    border: .15rem solid rgb(255 255 255);
    box-shadow: 2px 3px 6px #ff9b00;
    cursor: pointer;
    border-radius: 2rem;
    background-color: #ff8700;
    transition: all .4s;
    color: #fff;
}
.feedbackInfo button:hover{
    background-color: #fff;
    color: #ff8700 ;
    border: .15rem solid #ff8400;
    box-shadow: 2px 3px 12px #ff9b00;
}
.feedback img {
    height: 5rem;
    border: 0.1rem solid #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px #000;
}
.feedback h4 {
    line-height: 2rem;
    font-size: 1.22rem;
    margin-top: .4rem;
    color: #7d7d7d;
}
.feedback h3 {
    margin-bottom: 1rem;
}
.feedback p {
    font-size: .9rem;
    line-height: 1.33rem;
    color: #4c4848;
}

/*========== 
   call box
=========== */
.callBoxMain {
    margin: 8.5rem 0rem 2rem;
}
.call {
    margin: auto;
    width: 70%;
    padding: 3rem;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right,#ff7019, rgb(170 102 7 / 55%), rgb(117 19 93 / 0%)), url(../images/banner/watch.png);
}
.call h1 {
    font-size: 1.8rem;
    color: #fff;
}
.call button {
    padding: .2rem .5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #d77676;
    cursor: pointer;
    font-family: inherit;
    margin-top: 1rem;
    background: #fffffff0;
    border: .1rem solid #74747496;
    border-radius: .5rem;
}

/*========== 
   Footer
=========== */

section.footerMain {
    display: flex;
    padding: 4.8rem 3rem 3rem;
    align-items: center;
    justify-content: space-evenly;
    background: #a5a5a557;
    margin-top: 8rem;
}
.footer {
    width: 45%;
    margin-left: 4rem;
}
.footer form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer h3 {
    font-size: 2.3rem;
    margin-bottom: 1.3rem;
}
.footer p {
    font-size: 1rem;
    line-height: 1.8rem;
    margin: .8rem 0rem 0rem;
}
.footer img {
    height: 1.95rem;
    margin-top: 1rem;
    border-radius: 50%;
    margin-right: .2rem;
    box-shadow: 0px 0px 5px #000000b5;
    cursor: pointer;
}
.footer form label input {
    padding: .7rem .5rem;
    width: 70%;
    border-radius: .5rem;
    font-size: 1.03rem;
    margin: .94rem 0rem;
    outline: none;
    border: .1rem transparent;
}
.footer form span input {
    color: #fffffff0;
    font-size: 1.1rem;
    padding: 0.3rem .5rem;
    background: #ff7400;
    border-radius: .5rem;
    border: .03rem solid #ffffff;
}